<header>
  <%= render "partials/navbar" %>
  <h1>Jahanianerne</h1>
  <p style="color: green"><%= notice %></p>
  <section>
    <% @users.each do |user| %>
      <aside id="<%= dom_id user %>">
        <%= image_tag "https://joesch.moe/api/v1/#{user.id}" %>
        <h3><%= link_to user.name || user.username, user %></h3>
      </aside>
    <% end %>
  </section>
</header>
