<header>
  <%= render "partials/navbar" %>
  <p style="color: green"><%= notice %></p>
  <h1><%= @user.name %></h1>
  <p>
    Kontakt: <%= @user.email %>
  </p>
  <figure>
    <%= image_tag "https://joesch.moe/api/v1/#{@user.id}", height: 500 %>
  </figure>
</header>
