<header>
  <%= render "partials/navbar" %>
  <h1>Jaha? En hel haug med podkaster.</h1>
  <p>
    Velkommen til Jaha Produksjoner. Et Oslo-basert podkastkollektiv som lager innhold for deg som liker å ha noe på øret.
  </p>
  <p style="color: green"><%= notice %></p>
</header>
<section>
  <% @shows.each do |show| %>
    <aside id="<%= dom_id show %>">
      <%= image_tag "temp.svg", height: 150 %>
      <h3><%= link_to show.name, show %></h3>
      <p>
        <%= show.description %>
      </p>
    </aside>
  <% end %>
</section>
