<header>
  <h1><%= @show.name %></h1>
  <p>
    <%= @show.description %>
  </p>
  <p style="color: green"><%= notice %></p>
  <p>
    <%= link_to "Edit this show", edit_show_path(@show) %> |
    <%= link_to "Back to shows", shows_path %>
  </p>
  <%= render "members" %>
</header>
